@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.colorp {
  background: linear-gradient(
    to bottom,
    #050816 0%,
    #050816 20%,
    #0a1a3a 50%,
    #1a0d35 70%,
    #050816 100%
  );
}
